<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculadora Sencilla</title>
    <script>
    function calcula(operacion){
    var operando1 = document.calc.operando1.value
    var operando2 = document.calc.operando2.value
    var result = eval(operando1 + operacion + operando2)
    document.calc.resultado.value = result
}
</script>
  </head>
  <body>
<h1>Calculadora Sencilla</h1>
<form name="calc">
<label for="operando1"><h3>Numero 1:</h3></label>
<input type="Text" name="operando1" value="0" size="12">
<br>
<label for="operando2"><h3>Numero 2:</h3></label>
<input type="Text" name="operando2" value="0" size="12">
<br>
</br>
</br>
<input type="Button" name="" value=" Sumar" onclick="calcula('+')">

<br>
<label for="resultado"><h3>El Resultado es:</h3></label>
<input type="Text" name="resultado" value="0" size="12">
</form>
  </body>
</html>
